* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.clearfloat {
    clear: both;
}

#wrapper {
    max-width: 1248px;
    margin: auto;
    box-shadow: 0 0 50px 10px #888888;
}

#header {
    height: 98px;
}

#logo-container {
    width: 357px;
    height: 98px;
    position: absolute;
}
    #logo-background {
        width: inherit;
        height: inherit;
        fill: #fff229;
    }
    #logo {
        position: absolute;
        top: 33px;
        left: 118px;
    }

#hovedmeny-container {
    width: 100%;
    height: 50px;
    background: -webkit-linear-gradient(#6e6d72 0%, #4e4e50 100%);
    background: -o-linear-gradient(#6e6d72 0%, #4e4e50 100%);
    background: linear-gradient(#6e6d72 0%, #4e4e50 100%);
    color: white;
    position: relative;
}
    #hovedmeny-container a {
        color: white;
        text-decoration: none;
    }
    #hovedmeny-knapp {
        width: 30px;
        top: 10px;
        margin: auto;
        top: 10px;
        position: relative;
        display: none;
    }

    #hovedmeny {
        float: right;
        list-style: none;
        z-index: 1;
        position: relative;
    }
        #hovedmeny > li {
            background: -webkit-linear-gradient(#6e6d72 0%, #4e4e50 100%);
            background: -o-linear-gradient(#6e6d72 0%, #4e4e50 100%);
            background: linear-gradient(#6e6d72 0%, #4e4e50 100%);
            display: block;
            float: left;
            height: 50px;
            line-height: 50px;
            border-left: 2px solid #737373;
            z-index: 2;
            position: relative;
        }
            #hovedmeny > li:hover {
                background: black;
                z-index: 5;
            }
            #hovedmeny > li > span, #hovedmeny > li > a {
                margin: 0 20px;
                display: block;
                width: 100%;
                height: 100%;
            }

        #hovedmeny ul {
            display: none;
            font-size: 0.8em;
            background: white;
            border: 1px solid black;
            color: black;
            width: 100%;
            list-style: none;
            position: relative;
            z-index: 3;
        }
            #hovedmeny ul li {
                border-bottom: 1px solid lightgrey;
                height: 40px;
                line-height: 40px;
                position: relative;
                z-index: 4;
            }
                #hovedmeny ul li:hover {
                    background-color: yellow;
                }
            #hovedmeny ul a {
                color: black;
                text-decoration: none;
                display: block;
                width: 100%;
            }
        #hovedmeny > li:hover ul {
            display: block;
        }

    #hovedvindu .overskrift {
        margin: auto;
        text-align: center;
    }

#bilmeny {
    display: block;
    width: 796px;
    margin: auto;
    list-style: none;
}
    #bilmeny li {
        width: 187px;
        background: lightgrey;
        font-style: italic;
        font-weight: bold;
        float: left;
        padding: 5px;
        text-align: center;
        border: 1px solid #eee;
    }
        #bilmeny li a {
            display: block;
            width: 100%;
            color: black;
            text-decoration: none;
        }

#hovedvindu[data-klasse=A] #bilmeny li[data-klasse=A] {
    background: yellow;
}
#hovedvindu[data-klasse=B] #bilmeny li[data-klasse=B] {
    background: yellow;
}
#hovedvindu[data-klasse=C] #bilmeny li[data-klasse=C] {
    background: yellow;
}
#hovedvindu[data-klasse=D] #bilmeny li[data-klasse=D] {
    background: yellow;
}

#bilguide-liste {
    margin: 10px auto;
    background: lightgrey;
    padding-bottom: 12px;
    width: 796px;
}
    .bilguide-bil {
        border: 2px solid grey;
        float: left;
        background: white;
        width: 150px;
        height: 300px;
        padding: 15px;
        margin: 12px 0 0 12px;
        display: none;
        font-size: 0.8em;
        position: relative;
    }
        .bilguide-bil img {
            display: block;
            width: 150px;
            position: relative;
        }
        .bilguide-bil .bilguide-navn {
            font-weight: bold;
        }
        .bilguide-bil span {
            display: inline-block;
            margin-bottom: 5px;
        }
        .bilguide-bil .leielink {
            position: absolute;
            bottom: 5px;
            left: 45px;
        }

#hovedvindu[data-klasse=A] .bilguide-bil[data-klasse=A] {
    display: block;
}
#hovedvindu[data-klasse=B] .bilguide-bil[data-klasse=B] {
    display: block;
}
#hovedvindu[data-klasse=C] .bilguide-bil[data-klasse=C] {
    display: block;
}
#hovedvindu[data-klasse=D] .bilguide-bil[data-klasse=D] {
    display: block;
}

#forside-wrapper {
    display: table;
    width: 100%;
    position: relative;
}

#bestilling-container {
    display: table-cell;
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}
    #bestilling-bakgrunn {
        position: absolute;
        width: 100%;
    }
    #bestilling-reklametekst {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    #bestillingsvindu {
        position: relative;
        margin: 20px;
        background: rgba(255, 255, 255, 0.7);
        width: 300px;
        height: 400px;
        border: 1px solid grey;
    }
        #bestillingsvindu a {
            display: block;
            float: left;
            width: 50%;
            text-align: center;
            color: black;
            text-decoration: none;
            padding: 5px 0;
            background: #fffa9f;
        }
            #bestillingsvindu a.active {
                background: yellow;
            }

        #bestillingsfane,
        #avbestillingsfane {
            display: none;
        }
            #bestillingsfane.active,
            #avbestillingsfane.active {
                display: table;
            }
            .bestilling-rekke {
                display: table-row;
            }
            .bestilling-tall {
                display: table-cell;
                width: 50px;
                height: 50px;
            }
                .bestilling-tall span {
                    display: block;
                    margin: auto;
                    position: relative;
                    top: 12px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid grey;
                    border-radius: 25px;
                }
            .bestilling-info {
                padding-bottom: 10px;
                font-size: 0.8em;
            }
                .bestilling-info input,
                .bestilling-info select {
                    width: 200px;
                    margin-top: 5px;
                }

            .bestilling-knapp {
                padding: 10px 0;
                background: blue;
                color: white;
                font-weight: bold;
                border: none;
                border-radius: 3px;
            }

#reklame-container {
    display: table-cell;
    width: 248px;
    height: 100%;
    padding: 0;
    vertical-align: top;
}
    .reklame {
        width: 96%;
        font-size: 0.8em;
        border: 1px solid lightgrey;
        margin: 2px;
    }
        .reklame img {
            width: 100%;
        }
        .reklame div {
            width: 90%;
            padding: 5%;
            background: linear-gradient(#FFF, #DDD);
        }

@media (max-width: 1080px) {
    #hovedmeny {
        font-size: 0.75em;
    }
        #hovedmeny > li > span, #hovedmeny > li > a {
            margin: 0 5px;
        }
}

@media (max-width: 700px) {
    #hovedmeny {
        float: none;
        top: 50px;
    }
        #hovedmeny-knapp {
            display: block;
        }
        #hovedmeny > li {
            float: none;
            left: 0;
            width: 100%;
            display: none;
        }
            #hovedmeny.active > li {
                display: block;
            }
}

@media (min-width: 768px) and (max-width: 999px) {
    #bilguide-liste {
        width: 600px;
    }
    #bilmeny {
        width: 600px;
    }
        #bilmeny li {
            width: 138px;
        }
    #reklame-container {
        display: none;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    #bilguide-liste {
        width: 404px;
    }
    #bilmeny {
        width: 404px;
    }
    #reklame-container {
        display: none;
    }
}

@media (max-width: 660px) {
    #bestilling-bakgrunn {
        display: none;
    }
    #bestilling-reklametekst {
        display: none;
    }
}

@media (max-width: 419px) {
    #bilguide-liste {
        width: 208px;
    }
    #bilmeny {
        width: 208px;
    }
    #reklame-container {
        display: none;
    }
}