* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.clearfloat {
    clear: both;
}

#wrapper {
    max-width: 1248px;
    margin: auto;
    box-shadow: 0 0 50px 10px #888888;
}

#header {
    height: 98px;
}

#logo-container {
    width: 357px;
    height: 98px;
    position: absolute;
}
    #logo-background {
        width: inherit;
        height: inherit;
        fill: #fff229;
    }
    #logo {
        position: absolute;
        top: 33px;
        left: 118px;
    }

#hovedmeny-container {
    width: 100%;
    height: 50px;
    background: -webkit-linear-gradient(#6e6d72 0%, #4e4e50 100%);
    background: -o-linear-gradient(#6e6d72 0%, #4e4e50 100%);
    background: linear-gradient(#6e6d72 0%, #4e4e50 100%);
    color: white;
}
    #hovedmeny-container > li {
    }
    #hovedmeny-container a {
        color: white;
        text-decoration: none;
    }

    #hovedmeny {
        float: right;
        list-style: none;
        z-index: 1;
        position: relative;
    }
        #hovedmeny > li {
            background: -webkit-linear-gradient(#6e6d72 0%, #4e4e50 100%);
            background: -o-linear-gradient(#6e6d72 0%, #4e4e50 100%);
            background: linear-gradient(#6e6d72 0%, #4e4e50 100%);
            display: block;
            float: left;
            height: 50px;
            line-height: 50px;
            border-left: 2px solid #737373;
            z-index: 2;
            position: relative;
        }
            #hovedmeny > li:hover {
                background: black;
                z-index: 5;
            }
            #hovedmeny > li > span, #hovedmeny > li > a {
                margin: 0 20px;
                display: block;
                width: 100%;
                height: 100%;
            }

        #hovedmeny ul {
            display: none;
            font-size: 0.8em;
            background: white;
            border: 1px solid black;
            color: black;
            width: 100%;
            list-style: none;
            position: relative;
            z-index: 3;
        }
            #hovedmeny ul li {
                border-bottom: 1px solid lightgrey;
                padding-left: 10px;
                height: 40px;
                line-height: 40px;
                position: relative;
                z-index: 4;
            }
                #hovedmeny ul li:hover {
                    background-color: yellow;
                }
            #hovedmeny ul a {
                color: black;
                text-decoration: none;
                display: block;
                width: 100%;
            }
        #hovedmeny > li:hover ul {
            display: block;
        }

#hovedvindu {
    padding: 20px 0;
}

#bilmeny {
    display: block;
    width: 796px;
    margin: auto;
    list-style: none;
}
    #bilmeny li {
        width: 187px;
        background: lightgrey;
        font-style: italic;
        font-weight: bold;
        float: left;
        padding: 5px;
        text-align: center;
        border: 1px solid #eee;
    }
        #bilmeny li a {
            display: block;
            width: 100%;
            color: black;
            text-decoration: none;
        }

#hovedvindu[data-klasse=A] #bilmeny li[data-klasse=A] {
    background: yellow;
}
#hovedvindu[data-klasse=B] #bilmeny li[data-klasse=B] {
    background: yellow;
}
#hovedvindu[data-klasse=C] #bilmeny li[data-klasse=C] {
    background: yellow;
}
#hovedvindu[data-klasse=D] #bilmeny li[data-klasse=D] {
    background: yellow;
}

#bilguide-liste {
    margin: 10px auto;
    background: lightgrey;
    padding-bottom: 12px;
    width: 796px;
}
    .bilguide-bil {
        border: 2px solid grey;
        float: left;
        background: white;
        width: 150px;
        height: 300px;
        padding: 15px;
        margin: 12px 0 0 12px;
        display: none;
        font-size: 0.8em;
        position: relative;
    }
        .bilguide-bil img {
            display: block;
            width: 150px;
            position: relative;
        }
        .bilguide-bil .bilguide-navn {
            font-weight: bold;
        }
        .bilguide-bil span {
            display: inline-block;
            margin-bottom: 5px;
        }
        .bilguide-bil .leielink {
            position: absolute;
            bottom: 5px;
            left: 45px;
        }

#hovedvindu[data-klasse=A] .bilguide-bil[data-klasse=A] {
    display: block;
}
#hovedvindu[data-klasse=B] .bilguide-bil[data-klasse=B] {
    display: block;
}
#hovedvindu[data-klasse=C] .bilguide-bil[data-klasse=C] {
    display: block;
}
#hovedvindu[data-klasse=D] .bilguide-bil[data-klasse=D] {
    display: block;
}

@media (min-width: 768px) and (max-width: 999px) {
    #bilguide-liste {
        width: 600px;
    }
    #bilmeny {
        width: 600px;
    }
        #bilmeny li {
            width: 138px;
        }
}

@media (min-width: 420px) and (max-width: 767px) {
    #bilguide-liste {
        width: 404px;
    }
    #bilmeny {
        width: 404px;
    }
}

@media (max-width: 419px) {
    #bilguide-liste {
        width: 208px;
    }
    #bilmeny {
        width: 208px;
    }
}